@model IEnumerable<MKsEMS.Models.Credentials>

@{
    ViewData["JobTitle"] = "Index";
}

<h1>Index</h1>
<p>
    <div>
        <a asp-controller="Users" asp-action="Index" >Back to Users</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EncPass)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EncPass)
            </td>
            
        </tr>
}
    </tbody>
</table>
